@import 'bootstrap/dist/css/bootstrap.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .heading{
    @apply text-center py-4 bg-purple-700 text-4xl font-semibold text-white
  }
  .btn{
    @apply px-12 py-2 text-white bg-blue-900 text-2xl hover:bg-purple-900 hover:text-white font-bold
  }
}

/* .heading{
  border:10px dotted green;
} */

.active{
  color:black;
  text-decoration: underline;
}
.dropDownBtn{
  color:black;
  text-decoration: underline;
  background-color: white;
  border:none;
  
}
.dropDownBtn:hover{
  color:red;
  text-decoration: underline;
  background-color: white;
  border:none;
  Cursor:text ;
  
}
.home{
  background:none;
  text-decoration: none;
  display: block;
  padding: 8px 25px ;
}
.shop{
  background:none;
  text-decoration: none;
  display: block;
  padding: 8px 25px ;
}
.shop:hover{
  background:none;
  text-decoration: none;
  display: block;
  padding: 8px 25px ;
  color: red;
}
.product{
  background:none;
  text-decoration: none;
  display: block;
  padding: 8px 25px ;
}
.product:hover{
  background:none;
  text-decoration: none;
  display: block;
  padding: 8px 25px ;
  color: red;
}

.blog{
  background:none;
  text-decoration: none;
  display: block;
  padding: 8px 25px ;
}
.blog:hover{
  background:none;
  text-decoration: none;
  display: block;
  padding: 8px 25px ;
  color: red;
}

.page{
  background:none;
  text-decoration: none;
  display: block;
  padding: 8px 25px ;
}
.page:hover{
  background:none;
  text-decoration: none;
  display: block;
  padding: 8px 25px ;
  color: red;
}



.NavbatTxt::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: red;
  color:red;
  transition:0.3s;

  
}

.NavbatTxt:hover::after {
  width: 100%;
}


.logo{

    position: relative;
    margin-left: 1.25rem;

}
.icone{
  position: absolute;
  top: 0px;
  right: 0px;
  background-color:white;
  text:black;
  font-size:12px;
    line-height:16px;
    border-radius: 9999px;
    padding-left:4px;
    padding-right:4px;



}
.iconeNav:hover{
  font-size:20px;
    line-height:28px;
  color:red;
}


